/* View home info webpage */


  #form-container {
    width: 100%;
    /* display: flex;
    justify-content: space-between; */
    box-shadow: 0 0 20px rgba(33,33,33,.2);

  }
  

  img {
    width: 150px;
  }
  
  #editor-container {
    height: 100px;
    /* box-shadow: 0 0 20px rgba(33,33,33,.2); */

 
  }
 

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;

}

#map {
  height: 500px;
  width: 50%;
  float: left;
  box-shadow: 0 0 20px rgba(33,33,33,.2);

}
#pano {
  height: 500px;
  width: 50%;
  float: left;
  box-shadow: 0 0 20px rgba(33,33,33,.2);

}

#markers_info .marker {
  height: 40px;
  cursor: pointer;
}
html, body {
  width: 100%;
  height: 100%;


}

/* .overflow-y {
  overflow-y: auto !important;
} */

main {
  overflow: auto;

}

.content {
  margin-bottom: 25% !important;
}

.navbar-content{
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.buttons {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

button {
  border-radius: 4px !important;
  background: white;
  color: #3c3c3c;
  border: solid 1px #3c3c3c; 
}

button:hover {
  transition: .3s;
  box-shadow: 0 0 11px rgba(33,33,33,.2); 
  cursor: pointer;
}

li {
  list-style-type: none;
}
ul {
  list-style-type: none;
}

.notes {
  width: 100%;

}

.card {  
  /* background-color: #a5b9a2; */
  /* border-radius: 1px;
  border-color: #95a792;; */
  box-shadow: 0 0 20px rgba(33,33,33,.2);
  
}

#bus-list {
  background-color: #95a792;
  border-radius: 5px;
  border-color: #95a792;
}

.bus-Header {
  display: flex;
  justify-content: space-around;
}