/* View home info webpage */


  #form-container {
    width: 250px;
  }
  
  .row {
    margin-top: 0px;
  }
  .row.form-group {
    padding-left: 0px;
    padding-right: 0px;
  }
  .btn {
    margin-left: 15px;
  }
  
  .change-link {
    background-color: #000;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    bottom: 0;
    color: #fff;
    opacity: 0.8;
    padding: 2px;
    position: absolute;
    text-align: center;
    width: 150px;
  }
  .change-link:hover {
    color: #fff;
    text-decoration: none;
  }
  
  img {
    width: 150px;
  }
  
  #editor-container {
    height: 130px;
  }

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

/* bg-light {
  /* background-color: #f8f9fa!important; */
/* } */ */

:root {
  --bs-blue: #0d6efd;
  --bs-indigo: #6610f2;
  --bs-purple: #6f42c1;
  --bs-pink: #d63384;
  --bs-red: #dc3545;
  --bs-orange: #fd7e14;
  --bs-yellow: #ffc107;
  --bs-green: #198754;
  --bs-teal: #20c997;
  --bs-cyan: #0dcaf0;
  --bs-white: #fff;
  --bs-gray: #6c757d;
  --bs-gray-dark: #343a40;
  --bs-primary: #0d6efd;
  --bs-secondary: #6c757d;
  --bs-success: #198754;
  --bs-info: #0dcaf0;
  --bs-warning: #ffc107;
  --bs-danger: #dc3545;
  --bs-light: #f8f9fa;
  --bs-dark: #212529;
  --bs-font-sans-serif: system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans","Liberation Sans",sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
  --bs-font-monospace: SFMono-Regular,Menlo,Monaco,Consolas,"Liberation Mono","Courier New",monospace;
  --bs-gradient: linear-gradient(180deg, rgba(255, 255, 255, 0.15), rgba(255, 255, 255, 0));
}

html,body {
  margin: 0;
  font-family: var(--bs-font-sans-serif);
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #212529; */
  /* background-color: #fff; */
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
  margin: 0;
  padding: 0;
}
.overflow-x {
  overflow-x: hidden;
}
.overflow-y {
  overflow-y: auto;
}
#map {
  height: 500px;
  width: 100%;

}
#pano {
  height: 500px;
  width: 100%;

}

#markers_info .marker {
  height: 40px;
  cursor: pointer;
}

.py-4 {
  padding: 0;
}



<!-- {% if {{bus[4]}} = ".5"  %} 
<img src="/static/icons/small/small_0.png">
{% else {bus[4]}} = 1 -%}
<img src="/static/icons/small/small_1.png">
{% else {bus[4]}} = 1.5 -%}
<img src="/static/icons/small/small_1_half.png">
{% else {bus[4]}} = 2 -%}
<img src="/static/icons/small/small_2.png">
{% else {bus[4]}} = 2.5 -%}
<img src="/static/icons/small/small_2_half.png">
{% else {bus[4]}} = 3 -%}
<img src="/static/icons/small/small_3.png">
{% else {bus[4]}} = 3.5 -%}
<img src="/static/icons/small/small_3_half.png">
{% else {bus[4]}} = 4 -%}
<img src="/static/icons/small/small_4.png">
{% else {bus[4]}} = 4.5 -%}
<img src="/static/icons/small/small_4_half.png">
{% else {bus[4]}} = 5 -%}
<img src="/static/icons/small/small_5.png">
{% endif %} -->