/* homepage for neighborhood webpage */


/* the body has an image that spans the entire page with contents centered  */


.background-video {
  position: relative;
}

.background-video video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
}

.override header {
  /* Darken background so you can see text */
  background: radial-gradient(rgba(0, 0, 0, 0.8), rgba(0,0,0,0.3), rgba(0,0,0,0));
}

.row {
  background-color: #626E60;
  opacity: 1;
  font-size: 1rem;
  line-height: 1.5;
}
/* 
h2{


} */

