{% extends 'base.html' %}

{% block title %}Home Info Page

<title>Home Info</title>
{% endblock %}

{% block body %}
<p1>Now viewing home_info.html</p1>

<div id="view_home_info">
    <body>
        <b>Home Id:</b> {{property_id }}<br>

        <form action="/add_home_note" id="add_home_note" method="POST">
                <input type="hidden" name="property_id" value="{{property_id}}">
           <br> <textarea name="body" placeholder="Write Note Here"></textarea>
           <br> <button type="submit" name="add_note">Add Note</button> <br>
        </form>

        <b>Notes</b>
        
        <p1><ul>
            <form action="/remove_home_note" method="POST" id="remove_home_note">
                <input type="hidden" name="property_id" value="{{property_id}}">
            {% for note in home_notes %}
            <li>{{note.created_at}}<br>{{note.body}}<br></li>
            <button type="submit" name="remove_home_note" value={{note.home_note_id}}>Remove</button>
            {% endfor %}
            </ul>
            </form>
        </p1>

        <div id=business_by_location>
            <h2>Businesses close to Home listing</h2>
            <p2>
                <!-- <form action="/list_businesses" method="POST" id="list_businesses">
                    <input type="hidden" name="property_id" value="{{property_id}}">
                    {% for business in data %}
                    <li>Name: {{business["name"]}}</li>

                    {% endfor %}
                
                
                <button type="submit">press me</button>
                </form>
                <input type="hidden" name="bus_home_id" value="{{ property_id }}"> -->
                businesses listed here 


                <br>

                {% for business in data %} 
                    <li>Name: {{business[{}]["id"]}} </li>

                {% endfor %}




            </p2>





        </div>


    </body>




</div>
<div>
    <form action="/return_to_user_dashboard">
        <button type="submit" name="return_to_user">Return to User Dashboard</button>
    </form>
</div>

{% endblock %}
