{% extends 'base.html' %}
{% block title %}homepage{% endblock %}
{% block head %}
<!-- bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet"
integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
crossorigin="anonymous"></script>
<link rel="stylesheet" href="/static/css/homepage.css">
{% endblock%}
{% block body%}
<div class="background-video">
    <video autoplay muted loop>
        <source src="/static/homepage.mp4" type="video/webm">
    </video>
</div>    
    <header class="container-fluid d-flex justify-content-right align-items-center
    text-dark" style="height: 700px">
        <div class="row">
            <h1>Welcome! </h1> <br>
            <div class="col">
                
                <!-- log in  -->
                <form action="/login" method="POST">
                    <label><h2>Please Login</h2></label><br>
                    <div class="form-floating mb-3">
                        <input type="email" name="email" class="form-control" id="floatingInput"> 
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating">
                        <input type="password" name="password" class="form-control" id="floatingPassword"><br>
                        <label for="floatingPassword">Password</label>
                    </div>
                    <button type="submit" name="login" class="btn btn-outline-dark">Login</button> <br>
              </form>

            <!-- register new user -->
                <form action="/register" method="POST">
                <label for="register"><h2>New User?</h2></label><br>
                    <div class="form-floating">
                        <input type="text" name="first_name" class="form-control" id="floatingName"><br>
                        <label for="floatingName">First Name</label>
                    </div>
                    <div class="form-floating mb-3">
                        <input type="email" name="new_user_email" class="form-control" id="floatingInput">
                        <label for="floatingInput">Email</label>
                    </div>
                    <div class="form-floating mb-3">
                    <input type="password" name="new_user_password" class="form-control" id="floatingPassword"><br>
                    <label for="floatingPassword">Password</label>
                    
                    <button type="submit" name="login" class="btn btn-outline-dark">Register</button>
                    </div>
                </form>
            </div>    
        </div>
   

{% endblock %}