{% extends 'base.html' %}

{% block title %}Homes{% endblock %}

{% block body%}
<h1> Now viewing homes.html</h1>
<div class="home_search_results">
    <form action="/save_home" method="POST" id="home_to_save">

    <ul> {% for d in data %}   
            <li>{{d["rawAddress"]}}</li>
            Price: {{d["price"]}} <br>
            Bedrooms: {{d["bedrooms"]}}
            Bathrooms:{{d["bathrooms"]}} <br>
            Property Type: {{d["propertyType"]}} <br>
            Days on Market: {{d["daysOnMarket"]}}<br> 
            <button type="submit" id="homes_to_save" value="{{d['id']}}">Save</button>

            {% endfor %}

    </ul>
    </form>
</div>

<div>
    <form action="/return_to_user_dashboard">
        <button type="submit" name="return_to_user">Return to User Dashboard</button>
    </form>
</div>
{% endblock %}