{% extends 'base.html' %}

{% block title %}Homes{% endblock %}
{% block head %}
<head>
<script> 
    let data = {{ data | tojson }}
</script>
<style>
    #home-map {
        height: 500px;
        width: 75%;
    
      }
    html, body {
    margin: 0;
    padding: 0;

    }
</style>
<script src="/static/google_map.js"></script>

</head>
{% endblock %}
{% block body%}

<body>
<h1>Home Search Results</h1>
<div class="home_search_results">

    {% for d in data %}   
        <form action="/save_home" method="POST">
            <ul>
                <li>{{ d["rawAddress"] }}</li>
                <li>Price: {{d["price"]}}</li>
                <li>Bedrooms: {{d["bedrooms"]}}</li>
                <li>Bathrooms:{{d["bathrooms"]}}</li>
                <li>Property Type: {{d["propertyType"]}}</li>
                <li>Days on Market: {{d["daysOnMarket"]}}</li>
            </ul>
            <input type="hidden" name="address" value="{{ d['rawAddress'] }}">
            <input type="hidden" name="rm_property_id" value="{{ d['id'] }}">
            <input type="hidden" name="longitude" value="{{ d['longitude'] }}">
            <input type="hidden" name="latitude" value="{{ d['latitude'] }}">

            <button type="submit">Save</button>
        </form>
    {% endfor %}

</div>
<div id="home-map"> </div>

<script
async 
src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCo9kZSGr66VUlUwXP7odZ3fv0XuVBI4q0&callback=homes">
</script>
</body>

<div>
    <form action="/return_to_user_dashboard">
        <button type="submit" name="return_to_user">Return to User Dashboard</button>
    </form>
</div>
{% endblock %}