{% extends 'base.html' %}

{% block title %}Home Info Page


{% endblock %}

{% block body %}


<div id="view_home_info">
    <body>
        <b>Home Address:</b> {{ home_address }}<br>

        <form action="/add_home_note" id="add_home_note" method="POST">
                <input type="hidden" name="property_id" value="{{property_id}}">
           <br> <textarea name="body" placeholder="Write Note Here"></textarea>
           <br> <button type="submit" name="add_note">Add Note</button> <br>
        </form>

        <b>Notes</b>
        
        <p1><ul>
            <form action="/remove_home_note" method="POST" id="remove_home_note">
                <input type="hidden" name="property_id" value="{{property_id}}">
            {% for note in home_notes %}
            <li>{{note.created_at}}<br>{{note.body}}<br></li>
            <button type="submit" name="remove_home_note" value={{note.home_note_id}}>Remove</button>
            {% endfor %}
            </ul>
            </form>
        </p1>

        <div id=business_by_location>
            <h2>Businesses Close to Home</h2>
            <p2>

                <ul>
                {% for bus in businesses %}
                <form action="/save_business" method="POST">
                    <li> 
                        {{bus[0]}}<!-- name-->
                        <input type="hidden" name="name" value="{{bus[0]}}">
                        <ul>
                            <img src="{{bus[1]}}" width="80" height="80"> <!--img -->
                            <li><a href="{{bus[2]}}">View on Yelp</a></li><!--yelp url-->
                            <input type="hidden" value="{{bus[3]}}"><!--category-->
                            <li>Rating: {{bus[4]}}</li><!-- rating-->
                            <li>Review Count: {{bus[8]}}</li> <!-- # of reviews for business-->
                            <input type="hidden" name ="coordinates" value="{{bus[5]}}"><!--coordinates-->
                            <input type="hidden" name="longitude" value="{{bus[5].longitude}}"><!--longitude-->
                            <input type="hidden" name="latitude" value="{{bus[5].latitude}}"><!--latitude-->
                            <li>Distance: {{bus[6]}} miles</li><!--distance-->
                            <li>Address: {{bus[7]}}</li><!-- location-->
                            <input type="hidden" name="yelp_id"value="{{bus[9]}}"> <!--yelp id-->
                            <button type="submit">Save</button>
                        </ul>
                    </li>
                </form>
                {% endfor %}
                
                </ul>

            </p2>

        </div>


    </body>




</div>
<div>
    <form action="/return_to_user_dashboard">
        <button type="submit" name="return_to_user">Return to User Dashboard</button>
    </form>
</div>

{% endblock %}
