{% extends 'base.html' %}

{% block title %}Users homepage{% endblock %}

{% block body%}
<h1> Now viewing users.html</h1>

<h2>{% if current_user.is_authenticated %}
    Welcome, {{current_user.first_name}}    
    {% endif %}
</h2>

<b1>List of saved homes</b1>
<ul>
    <li>Saved homes will be displayed here</li>
</ul>

<b2>List of Saved Businesses</b2>
<ul>
    <li>Saved businesses will be displayed here</li>
</ul>

<b2>Ready to logout? 
    <form action=/logout>
    <button type="submit" name="logout">See ya later</button>
    </form>
</b2>

{% endblock %}

