{% extends 'base.html' %}

{% block title %}Users homepage{% endblock %}

{% block body%}
<h1> Now viewing users.html</h1>

<h2>{% if current_user.is_authenticated %}
    Welcome, {{current_user.first_name}}    
    {% endif %}
</h2>


<div id="home_search"><b>Search for a Home</b>
    <form action=/home_search method="GET">
    <label>Maximum Home Price</label> <input type="number" id="max_price" name="max_price" min="0" max="100,000,000"> <br>
    <label>Address: Must be formatted as street address, city, state zip  </label>
    <input type="text" name="street_address"><br>
    <label>City</label> <input type="text" name="city"> <br>
    <label>State: Use 2 digit state abbreviation</label> <input type="text"  name="state"><br>
    </datalist> <br>
    <label>Bedrooms</label> 
        <select name="bedrooms">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select>
    <label>Bathrooms</label>
        <select name="bathrooms">
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
        </select> <br>
    <button type="submit" name="home_results">Show Results</button>
    </form>


</div id="list_saved_homes">
    <b1>{% if current_user.is_authenticated %}
        {{current_user.first_name}}'s saved homes   
        {% endif %}
    </b1>
    
    <ul>
        <!-- <form action="/view_home_info" method="GET" id="view_home_info"> -->
        <form action="/remove_saved_home" method="POST" id="remove_saved_home">
        {% for home in saved_homes %}
        <li>{{home.rm_property_id}}</li>

        <button type="submit" name="remove_saved_home" value={{home.rm_property_id}}>Remove</button>

        <button onclick="location.href='/view_home_info/{{home.saved_home_id}}'" type="button">
            View Saved Home</button>
        {% endfor %}
    </form>
    </form>
    </ul>
</div>

<b2>List of Saved Businesses</b2>
<ul>
    <li>Saved businesses will be displayed here</li>
</ul>

<b2>Ready to logout? 
    <form action=/logout>
    <button type="submit" name="logout">See ya later</button>
    </form>
</b2>


<div id="user_info"> User info: {{current_user.email}} </div>



{% endblock %}

